*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    font-family: 'Montserrat', sans-serif;
}
/* utility */

.p_relative{
    position: relative;
}

.marginL{
    margin-left: 10%;
}
.marginR{
    margin-right: 10%;
}
.bg_wave{
    max-width: 100vw;
    /* background-image: url("../img/wave.svg"); */
} 

.container{
    width: 70%;
    margin: 5% 10%;
    height: 70vh;
}

.col1{
    height: 100%;
    width: 50%;
    float: left;
}

.col2{
    height: 100%;
    width: 30%;
    float: left;
}

.color_white{
    color: white;
}
/* header */

.site_header{
    width: 99vw;
    height: 70vh;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    width: 80%;
    height: 100px;
    margin: 0 10%;
    position: relative;
}

nav > img{
    width: 15%;
    position: absolute;
    top: 30%;
    margin-right: 20%;
}

nav > ul{
    list-style: none;
    margin-left: 25%;
    display: inline;
}
li{
    display: inline;
    padding-right: 5%;
    line-height: 100px;
    vertical-align: middle;
}
li > a{
    text-decoration: none;
    color: white;
}
#login{
    border-radius: 30px;
    font-size: 1rem;
    padding: 15px;
    background-color: white;
    border: none;
    margin-left: 14%;
}
.header_text{
    width: 70%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#h_title{
    text-align: center;
    font-size: 5rem;
    line-height: 10rem;
}
.h_text{
    text-align: center;
    margin: 0 20%;
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.buttons{
    text-align: center;
    margin-top: 20px;
}
#download{
    height: 3rem;
    border-radius: 2rem;
    padding: 10px 30px;
    background-color: white;
    border: none;
    font-size: 1rem;
}
#arrow{
    font-size: 1rem;
    font-weight: 1800;
}
#browser{
    color: white;
    background-color: rgba(0, 0, 0, 0.74);
    height: 3rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    padding: 10px 30px;
    margin-left: 40px;
}
/* main */

div.col1 > img{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.col2 > h2{
    font-size: 4rem;
}
div.col2 > p {
    margin-top: 30px;
    font-size: 1.2rem;
}
.container_big{
    width: 70%;
    margin: 5% 10%;
    height: 100vh;
}
#centre_title{
    font-size: 4rem;
    text-align: center;
}
#centre_text{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 30px;
}
.big_item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#button_title{
    margin-top: 30px;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    width: 40%;
    height: 3rem;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/stars.svg");
    background-position: center;
}
#download2{
    margin-top: 40px;
    color: white;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    padding: 10px 30px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(125, 125, 214);
}
/* footer */
.site_footer{
    background-color: #23272a;
}
.footer_columns{
    margin: 0px 10%;
    height: 70vh;
}
.col_foot1{
    margin-top: 20px;
    width: 20%;
    float: left;
    padding-right: 50px;
}
#flag{
    color: white;
}
#flag > img{
    margin-top: 30px;
    height: 1rem;
    font-size: 12px;
}
.col_foot2{
    margin-top: 20px;
    width: 20%;
    float: left;
}
.blue{
    color: #7289da;
}
div.col_foot2  a {
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 10px;
}